@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e2e8f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.dark-mode-toggle button {
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-mode {
  background-color: #222;
  color: #f5f5f5;
}
